body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 12px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    margin-top: 5rem;
}

h1 {
    text-align: center;
}

.header-line-1 {
    font-weight: 200;
}

.header-line-2 {
    font-weight: 600 !important;
}

.header-description {
    text-align: center;
    max-width: 400px;
    margin: auto;
}

img {
    float: right;
}

.card-container {
    margin-top: 30px;
}

.card {
    width: 24rem;
    height: 16rem;
    border-top: 6px solid;
    border-radius: 8px;
    /* width: 350px;
    height: 250px; */
    padding: 28px 33px;
    margin: 10px;
    margin-top: 20px;
}

#card-1 {
    border-top: 4px solid cyan;
}

#card-2 {
    border-top: 4px solid red;
}

#card-3 {
    border-top: 4px solid orange;
}

#card-4 {
    border-top: 4px solid blue;
}

@media screen and (min-width:1100px) {
    .card-container {
        display: flex;
        justify-content: center;
    }
    .card-right, .card-left {
        display: flex;
        align-items: center
    }
}

@media screen and (max-width:1099px) {
    .card-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}

@media screen and (max-width:450px) {
    body {
        font-size: 10px;
    }
    .card {
        width: 20rem;
        height: 14rem;
        margin: auto;
        margin-top: 20px;
    }
}